body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(45deg,rgb(255, 159, 173), lightblue, rgb(255, 71, 51));
    width: auto;
    height: auto;
    margin-bottom: 60px;
}

#title{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    line-height: 70px;
    background-color: rgb(255, 102, 41);
    border-radius: 8px;
}

.name_colors {
    margin-right: auto;
    width: 80%;
    margin-left: auto;
    display: flex;
    gap:10px;
    height: 50px;
    margin-bottom: 10px;
}

.name_colors li{
    text-align: center;
    width: 100%;
    line-height: 50px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 25px;
}

.container_objects{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    display: flex;
    gap:10px;
    list-style: none;
    margin-bottom: 20px;
}

.container_objects li{
    border-radius: 6px;
    column-count: 3;
    width: 100%;
}

.container_objects li:nth-child(1){
    background-color: yellow;
}

.container_objects li:nth-child(2){
    background-color: blue;
}

.container_objects li:nth-child(3){
    background-color: red;
}

.container_content_google{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 20px;
}

#green_text{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    font-size: 25px;
    line-height: 50px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.green_div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 120px;
    list-style: none;
}

.green_div li{
    background-color: green;
    width: 100%;
    border-radius: 6px;
}

.text_container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    background-color: white;
    border-radius: 6px;
}

.text_container p{
    font-size: 300%;
    text-align: center;
    line-height: 120px;
}

.text_container span{
    text-decoration: underline;
}

.designed{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    border-radius: 6px ;
}

.designed p{
    font-size: 250%;
    text-align: center;
    line-height: 120px;
}